<?xml version="1.0"?>
<robot name="balance_ball">

  <link name="ball_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.200"/>
      <inertia
        ixx="4.5e-4" ixy="0" ixz="0"
        iyy="4.5e-4" iyz="0"
        izz="4.5e-4"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.075"/>
      </geometry>
      <material name="tennis_yellow">
        <color rgba="0.85 0.85 0.10 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.075"/>
      </geometry>
    </collision>
  </link>

</robot>